
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */

/* body, * { */
       /* font-family: "HelveticaNowMTText", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; */
       /* font-weight: 400; */
       /* font-style: normal; */
/* }   */

/* @media (min-width: 992px) {
  [data-page-route="Workspaces"] .layout-main .layout-main-section {
    border: 1px solid var(--border-color);
    padding: var(--padding-md);
    margin-bottom: var(--margin-sm);
    margin-top: 50px;

  }
} */

.page-head {
  margin-top: 0;
  margin-bottom: 55px;
}

/* .layout-side-section, 
.desk-sidebar, 
.list-sidebar{
  background: #340746 !important;
  color: white !important;
}
.sidebar-section a{
  color: violet !important;
}
.layout-side-section .sidebar-label{
  color: violet !important;
}
.widget.shortcut-widget-box {
  border-radius: 2px !important;
  padding: 10% !important;
  box-shadow: 10px 10px 10px 10px rgba(235, 92, 235, 0.1) !important;
   text-align: center;

}
.widget .widget-head .widget-label .widget-title {
  color: #4c0b74 !important;
  font-weight: 800 !important;
 
}




.standard-sidebar-item:hover{
    background-color: transparent !important;
    border: 3px solid  #836191 !important;
    background-color: #4d0357 !important;
    border-radius: 0px !important;
} 
.standard-sidebar-item.selected{
  border: 3px solid  #836191 !important;
  background-color: #4d0357 !important;
  border-radius: 2px !important;

}

.desk-sidebar .standard-sidebar-item svg{
  fill: white !important;
}
.desk-sidebar .standard-sidebar-item{
  padding: 10px;
}
.desk-sidebar .standard-sidebar-item.standard-sidebar-item.selected svg{
  fill:   rgb(228, 151, 252) !important;
   background-color: rgb(228, 151, 252) !important;
    border-radius: 5px;
}
.sidebar-item-label, .sidebar-item-icon, .standard-sidebar-label{
  color: white !important;
}
.btn-primary {
  border-radius: 2px !important;
  padding: 8px 16px !important;
  font-weight: 600 !important;
  background: #ec0552 !important;   
  color: #fff !important;
  border: none !important;
} */
